.container{
background-color: #f1eee8;
}

#contenedorCarrito{
    background-color: #eae6de;
}

.imgProductos{
    width: 150px;
    height: 200px;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.colorBoton{
    color:white;
    background-color: #85bb65;
}

.colorBoton:hover{
    background-color: green;
    color: white;
}

.imgProducto {
    width: 170px;
  }